@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

:root {
  --primary-bg-color: #0b0e19;
  --primary-text-color: #dce0ef;
  --light-bg-color: #141a2e;
  --accent-A: #339989;
  --accent-B: #f96e46;
}

body {
  background-color: var(--primary-bg-color);
}

input {
  background-color: var(--primary-text-color);
  border: 2px solid rgb(63, 52, 39);
  font-size: 2rem;
  padding: 0.4vh;
  margin: 1vh auto;
  width: 100%;
}

/*wrapper */

.wrapper {
  background-color: var(--primary-bg-color);
  font-family: "Roboto Mono", monospace;
  color: var(--primary-text-color);
  height: 100vh;
}

/*CANVAS RELATED STUFF*/

.canvasWrapper {
  position: relative;
  line-height: 0;
}

.firstCanvas {
  position: relative;
  width: 100%;
  outline: none;
}
.secondCanvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  outline: none;
}

/*NAVBAR */

.powerlinesNavbar {
  background-color: var(--primary-bg-color);
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.powerlinesNavbar > a {
  border-left: 1.5px solid var(--primary-text-color);
  margin-left: 0.6rem;
  color: var(--primary-text-color);
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}
.powerlinesNavbar > a:nth-child(3) {
  align-self: flex-end;
  margin-right: 4%;
}
.powerlinesNavbar > a:nth-child(2) {
  align-self: flex-start;
  margin-right: auto;
}
.powerlinesNavbar > p {
  border-style: solid;
  border-width: 1.5px;
  border-radius: 2px;
  border-image: linear-gradient(
      90deg,
      var(--accent-B) 0%,
      var(--accent-A) 70%,
      var(--primary-text-color) 100%
    )
    1;
  margin: 0 0%;
  background: linear-gradient(
    90deg,
    var(--accent-B) 0%,
    var(--accent-A) 75%,
    var(--primary-text-color) 100%
  );
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: none;
  padding: 5px;
  border-radius: 2px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/*MENU POPUP*/
.navbarWrapper {
  position: absolute;
  right: 5%;
  top: 7.5%;
  background-color: var(--light-bg-color);
  padding: 0% 10%;
  z-index: 9;
  width: clamp(14rem, 45%, 20rem);
  border: 1.5px solid var(--primary-text-color);
}

.navbarWrapper > a {
  margin: 25% 0;
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  text-align: right;
  border-right: 1.5px solid var(--primary-text-color);

  padding-right: 4%;
  right: 0;
}

.navbarWrapper > span {
  margin-top: 25%;
  margin-bottom: 40%;
  display: block;
  color: var(--primary-text-color);
  text-decoration: none;
  text-align: right;
  border-right: 1.5px solid var(--primary-text-color);
  padding-right: 4%;
  right: 0;
  cursor: pointer;
}

/*LOGIN and other popups*/
.powerlinesLogin {
  font-family: Roboto Mono, monospace;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  z-index: 10;
  padding: 2.5vh;
  border: var(--primary-text-color) 1.5px solid;
}

.powerlinesLogin > h1 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 5%;
}
.powerlinesLogin > input:focus {
  outline: none;
  border: 2px solid var(--accent-A);
}

.loginBtn {
  margin-top: 1rem;
  padding: 5px 10px;
  border: 2px solid var(--accent-A);
  font-size: 1.8rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.closeBtn {
  font-size: 1.5rem;
  border-right: var(--primary-text-color) solid 2px;
  color: var(--primary-text-color);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-right: 0.2rem;
  line-height: 2rem;
  cursor: pointer;
}

/*logout*/
.logoutModal {
  position: fixed;
  top: 10vh;
  left: 10vw;
  right: 10vw;
  height: fit-content;
  font-size: 1.2rem;
  border: var(--accent-A) solid 2px;
  background-color: var(--light-bg-color);
  z-index: 10;
}

.logoutFlex {
  display: flex;
  justify-content: space-around;
  padding: 0 15%;
  margin-bottom: 15%;
}

.backBlur {
  background-color: rgba(0, 0, 0, 0.274);
  position: fixed;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  z-index: 9;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(2px);
}

.logoutModal h3 {
  width: 100%;
  padding: 15% 15%;
}

.logoutModalBtn {
  border: var(--accent-A) solid 1px;
  width: 45%;
  text-align: center;
  padding: 5%;
}

/*Lobby*/

.lobby {
  position: absolute;
  top: 5%;

  left: 10%;
  right: 10%;
  z-index: 10;
  padding: 20px;
  border: var(--accent-A) 4px solid;
}

.lobby > h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.lobbyCode {
  background-color: var(--accent-B);
  color: var(--light-bg-color);
  font-size: 2rem;
  width: fit-content;
  padding: 1rem;
  margin: 1rem auto;
}

/*Start game btns*/

.startGameWrapper {
  margin-top: 5vh;
  padding-bottom: 2vh;
  background-color: var(--primary-bg-color);
  border-radius: 4px;
  position: absolute;
  z-index: 5;
  width: 80%;
  left: 50%;
  height: fit-content;
  transform: translateX(-50%);
  padding: 0px;
  border: solid 1.3px transparent;
  border-radius: 4px;
  background-image: linear-gradient(
      var(--primary-bg-color),
      var(--primary-bg-color)
    ),
    linear-gradient(
      45deg,
      var(--accent-A) 0%,
      var(--primary-text-color) 50%,
      var(--accent-B) 100%
    );
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.playButton {
  display: block;
  text-align: center;
  font-size: 2vh;
  width: 80%;
  margin: 10% 10%;
  padding: 4vh 2% 4vh 2%;
  border: 1.5px solid var(--accent-A);
  border-radius: 2px;
  cursor: pointer;
}

/*CONTROLS*/
.mobileControls {
  width: 100%;
  height: 20vh;
  background-color: var(--primary-bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
}

.mobilePlaceholder {
  width: 100%;
  height: 11rem;
  background-color: var(--primary-bg-color);
}

.ctrlButton {
  width: 5vh;
  height: 5vh;
  font-size: 0.8rem;
  text-align: center;
  padding: 2px 4px;
  background-color: var(--primary-bg-color);
  border: 1.3px solid var(--accent-A);
  transition: 0.4s;
  position: absolute;
}

.upBtn {
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
.centerBtn {
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
}
.rightBtn {
  position: absolute;
  left: calc(50% + 6vh);
  top: 35%;
  transform: translateX(-50%);
}

.leftBtn {
  position: absolute;
  left: calc(50% - 6vh);

  top: 35%;
  transform: translateX(-50%);
}

.rightBtn svg {
  transform: translate(15%, -15%);
}

.leftBtn svg {
  transform: translate(-20%, -15%);
}

.downBtn svg {
  transform: translate(0%, -15%);
}
.upBtn svg {
  transform: translate(0%, -15%);
}
.centerBtn svg {
  transform: scale(55%) translate(-30%, -25%);
  transform-origin: center;
}
.downBtn {
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translateX(-50%);
}

/*TIMER*/
.timerWrapper {
  width: 100%;
  background-color: azure;
  display: flex;
  flex: 1;
  overflow: hidden;
  font-size: 0.8rem;
}
.playerWrapper {
  padding: 0vh;
  transition: width 1000ms linear;
  line-height: 0.8rem;
  padding: 1vh 1.5vh;
}

.playerBTimer {
  transition: width 1000ms linear;
  text-align: right;
}
.playerATimer {
  transition: width 1000ms linear;
  text-align: left;
}

/*Moves*/

.moveWrapper {
  background-color: var(--light-bg-color);
  display: flex;
  justify-content: center;
}
.moveFlex {
  font-size: 0.8rem;
  padding: 0.5vh;
  width: fit-content;
}

/*hints*/
.hints {
  font-size: 0.7rem;
  padding: 0.6rem;
  background-color: var(--accent-A);
  text-align: center;
  color: var(--light-bg-color);
}

/*-----------------*/
.leaderboard {
  font-family: Roboto Mono, monospace;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  z-index: 10;
  padding: 20px;
  border: var(--primary-text-color) 2.5px solid;
  font-size: 1rem;
}

.accent {
  color: var(--accent-B);
}

.blured {
  filter: blur(5px);
  transition: 0.2s;
}

/*mobile*/
@media (orientation: landscape) {
  .wrapper {
    position: absolute;
    top: 0;
    left: 100vh;
    width: calc(100vw - 100vh);
    height: 100vh;
    overflow: hidden;
  }
  .canvasWrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: clamp(100vh, 100vh, 720px);
    height: clamp(100vh, 100vh, 720px);
  }
  .playButton {
    font-size: 0.7rem;
  }
  .startGameWrapper {
    margin-top: 5%;
    width: min(80%, 30vw);
  }
  .mobileControls {
    position: relative;
  }

  .playerWrapper {
    font-size: 0.8rem;
    padding: 1vh;
  }

  .hints {
    position: absolute;
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 30%;
    font-size: 0.7rem;
    display: inline-block;
    z-index: 3;
  }
  .mobileControls {
    margin-top: 10vh;
    position: relative;
    top: 0;
    margin-left: 30%;
    width: 70%;
    display: inline-block;
    height: 50vh;
  }
  .ctrlButton {
    width: 12vh;
    height: 12vh;
  }
  .mobilePlaceholder {
    display: none;
  }

  .ctrlButton svg {
    transform: translateY(-10%);
  }

  .svg-inline--fa {
    color: var(--accent-A);
  }

  .centerBtn {
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
  }
  .rightBtn {
    left: calc(50% + 7vw);
    top: 35%;
    transform: translateX(-50%);
  }

  .leftBtn {
    left: calc(50% - 7vw);

    top: 35%;
    transform: translateX(-50%);
  }
  .downBtn {
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
  }
  .upBtn {
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
  }

  .rightBtn svg {
    transform: translate(25%, -15%);
  }

  .leftBtn svg {
    transform: translate(-20%, -15%);
  }

  .downBtn svg {
    transform: translate(0%, -15%);
  }

  .centerBtn svg {
    transform: scale(60%, 60%) translate(-30%, -25%);
    transform-origin: center;
  }
}

.name {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}
.nameLeft {
  justify-self: start;
  background-color: var(--accent-A);
  width: 100%;
  padding: 0.6vh 1.2vh;
}
.nameRight {
  justify-self: right;
  background-color: var(--accent-B);
  width: 100%;
  text-align: right;
  padding: 0.6vh 1.2vh;
}

@media (min-aspect-ratio: 2/4) and (orientation: portrait) {
  .wrapper {
    width: 50vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .powerlinesNavbar > *:nth-child(2) {
    display: none;
  }
}

@media (max-aspect-ratio: 3/2) and (orientation: landscape) {
  .canvasWrapper {
    max-width: 66vw;
  }
  .wrapper {
    left: 66vw;
    width: 34vw;
  }
  .powerlinesNavbar p {
    display: none;
  }
}
@media (max-aspect-ratio: 4/2) and (orientation: landscape) {
  .powerlinesNavbar > *:nth-child(2) {
    display: none;
  }
}

/*
position: absolute;
    top: 0;
    left: 100vh;
    width: calc(100vw - 100vh);
    height: 100vh;
    overflow: hidden;
*/
@media screen and (min-width: 720px) {
  .powerlinesNavbar p {
    display: inline-block;
  }
  .timerWrapper > div {
    font-size: 2rem;
    padding: 1rem;
  }
}
@media screen and (min-width: 960px) {
  .powerlinesNavbar > *:nth-child(2) {
    display: inline-block;
  }
  .hints {
    position: relative;
    width: 100%;
    font-size: 1rem;
  }
  .moveFlex {
    font-size: 2rem;
    padding: 0.5vh;
    width: fit-content;
  }
  .playButton {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .name {
    font-size: 1rem;
  }
  .name > div {
    padding: 0.5rem;
  }
}
